@using Domain;

@model Song
@{
    ViewData["Title"] = "GetSongById Page";
}

<div class="row">
    <div class="col-md-12">
        <ul>
            <h3>SongTitle = @Model.SongTitle</h3>
            <ul>
                <li>
                    <h3>SongId = @Model.SongId</h3>
                </li>
                <li>
                    <h3>SongTitle = @Model.SongTitle</h3>
                </li>
                <li>
                    <h3>AlbumId = @Model.AlbumId</h3>
                </li>
            </ul>
            <a asp-action="Index" asp-controller="Home">Return</a>
        </ul>
    </div>
</div>
